// Colors
// Primary
$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
$overlay: hsl(277, 64%, 50%);
// Neutral
$main-heading-stats: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: hsla(0, 0%, 100%, 0.6);

// Fonts
$title-font: "Inter", sans-serif;
$main-font: "Lexend Deca", sans-serif;
$normal: 400;
$bold: 700;

// Functions
// px to rem
@use "sass:math";

@function rem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}
